{
    "env": {
        "node": true,
        "mocha": true
    },
    "extends": "eslint-config-ideal",
    "rules": {
        "global-strict": 0,
        "no-console": 0
    },
    "globals": {
        "$": true
    }
}
